@utility hero-background {
    --hero-image: url("/resources/js/Assets/visuals/pexels-migsr87-8051256.jpg");

    background-image:
        linear-gradient(
            to bottom,
            theme(colors.rose.800 / 0.5),
            theme(colors.rose.200 / 0.3)
        ),
        var(--hero-image);
    @apply bg-cover bg-center bg-no-repeat;
}

@utility promotional-background {
    --background-image: url("/resources/js/Assets/visuals/pexels-ron-lach-8387828.jpg");

        background-image:
        linear-gradient(
            to bottom,
            theme(colors.rose.800 / 0.5),
            theme(colors.rose.200 / 0.3)
        ),
        var(--background-image);
    @apply bg-cover bg-center bg-no-repeat;
}
