@mixin background(color, image) {
    background-image: color, image;
}

@utility hero-background {
    --hero-image: url("/resources/js/Assets/visuals/pexels-migsr87-8051256.jpg");

    background-image:
        linear-gradient(
            to bottom,
            --alpha(var(--color-rose-800) / 50%),
            --alpha(var(--color-rose-200) / 30%)
        ),
        var(--hero-image);
    @apply bg-cover bg-center bg-no-repeat;
}

@utility promotional-background {
    --background-image: url("/resources/js/Assets/visuals/pexels-ron-lach-8387828.jpg");

    background-image:
        linear-gradient(
            to bottom,
            --alpha(var(--color-rose-800) / 50%),
            --alpha(var(--color-rose-200) / 30%)
        ),
        var(--background-image);
    @apply bg-cover bg-center bg-no-repeat;
}
